{
  "extends": "../.eslintrc",
  "env": {
    "mocha": true
  },
  "globals": {
    "verquire": true,
    "describe": true,
    "expect": true,
    "before": true,
    "after": true,
    "beforeEach": true,
    "afterEach": true,
    "it": true
  },
  "rules": {
    "no-sparse-arrays": ["off"]
  }
}
